@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/*
    I love html
*/
html, body {
    display: flex;

    width: 100vw;
    height: 100vh;

    font-family: 'Rubik', sans-serif;

    margin: 0;

    background-color: rgb(35,35,35);
}

.fill-container {
    display: flex;

    flex-flow: column;

    min-width: 100%;
    min-height: max-content;
}

.fill-container > .title {
    color: white;

    margin: 0;
    margin-top: auto;

    font-size: 72px;
    
    text-align: right;
    align-self: center;
}

.fill-container > .subtitle {

    color: white;

    text-align: center;
    align-self: center;
    margin: 0;
    margin-bottom: auto;
}